@import '../global.less';

.layout {
  min-height: 100vh !important;
  .slider {
    z-index: 10000;
    :global {
      .@{prefixCls}-layout-sider-trigger {
        background-color: unset;
        margin: 8px 0px;
      }
      .@{prefixCls}-menu-item {
        padding: 0px 0px 8px 0px !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: unset;
        height: 56px;
        .@{prefixCls}-menu-item-icon {
          font-size: 20px;
          margin-right: 0px;
        }
      }
      .@{prefixCls}-menu-item-selected {
        background-color: #3977b1 !important;
      }
    }
  }
  .header {
    z-index: 10000;
    position: fixed;
    width: 100%;
    :global {
      .@{prefixCls}-layout-header {
        height: 48px;
        line-height: 48px;
        padding: 0px;
      }
      .@{prefixCls}-menu {
        height: 48px;
        line-height: 48px;
      }
    }
  }
}
